#label-theme
{
    position: absolute;
    right: 1vh;
    top: 1vh;
    width: 10vh;
    height: 5vh;
    background-color: var(--primary-color-dark);
    border-radius: 2.5vh;
    cursor: pointer;
}

.slider
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2.5vh;
    transition: 0.4s;
}

input:checked ~ .slider
{
    background-color: var(--text-color-dark);
}

.slider::before
{
    content: "";
    position: absolute;
    top: 0.65vh;
    left: 0.8vh;
    width: 3.75vh;
    height: 3.75vh;
    border-radius: 50%;
    box-shadow: inset 1.4vh -0.2vh 0px 0px var(--text-color-dark);
    background-color: var(--primary-color-dark);
    outline: dotted 0.5vmin rgba(47, 47, 53, 0);
    outline-offset: -0.25vmin;
    transition: 0.4s;
}

input:checked ~ .slider::before 
{
    transform: translateX(4.75vh);
    background-color: var(--primary-color-dark);
    box-shadow: none;
    outline: dotted 0.5vmin var(--primary-color-dark);
    outline-offset: -0.25vmin;
    transition: 0.4s;
}

[data-theme='light']
{
    transition: 0.4s;
    color: var(--primary-color-dark) !important;
    outline-color: var(--primary-color-dark) !important;
}

[data-theme='dark']
{
    transition: 0.4s;
    color: var(--text-color-dark) !important;
    outline-color: var(--primary-color-light) !important;
}

#gradient-wheel
{
    position: absolute;
    display: block;
    width: 300vmax;
    height: 300vmax;
    margin-left: -100vmax;
    margin-top: -8vmax;
    align-items: center;
    border-radius: 50%;
    background: repeating-conic-gradient(rgb(164, 185, 199), var(--primary-color-light), rgb(16, 30, 37), var(--primary-color-dark), rgb(164, 185, 199));
    z-index: -2;
    rotate: -50deg;
    overflow: hidden;
}

.rotate-in
{
    animation: oneEighty 0.4s ease-in-out forwards;
}

.rotate-out
{
    animation: threeSixty 0.4s ease-in-out forwards;
}

@keyframes oneEighty
{
    0% 
    {
      transform: rotate(0deg);
    }
    100% 
    {
      transform: rotate(180deg);
    }
}
@keyframes threeSixty
{
    0% 
    {
      transform: rotate(180deg);
    }
    100% 
    {
      transform: rotate(360deg);
    }
}
/*
    background: radial-gradient(rgb(164, 185, 199), var(--primary-color-light));
    background: radial-gradient(rgb(16, 30, 37), var(--primary-color-dark));    
*/