body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
    padding: 2rem;
    background-color: #1a1a1a;
    font-size: 18px;
    line-height: 1.6;
    flex-wrap: wrap;
}

.textbox-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-background {
    position: absolute;
    display: block;
    overflow: hidden;
}

.hex-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}

.hex-border {
    fill: none;
}

.path-base {
    fill: none;
    stroke-linecap: butt;
}

.path-eraser {
    fill: none;
    stroke-linecap: round;
}

.hex-box-content {
    position: relative;
    box-sizing: border-box;
    overflow: auto;
    border: 2px solid;
    border-radius: 10px;
    padding: 1rem;
    z-index: 1;
}
