#topnav
{
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 7vh;
}
#nav-list
{
    font-size: 3.5vh;
    margin: 0%;
    padding: 0%;
    padding-left: 12vh;
    width: calc(100vw - 24vh);
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



#label-burger
{
    position: absolute;
    cursor: pointer;
    width: 10vh;
    height: 5vh;
    left: 1vh;
    top: 1vh;
    border-radius: 2.5vmin;
}

#sidenav
{
    position: absolute;
    margin: 0px;
    padding: 0px;
    left: -1vh;
    top: 6vh;
    background-color: transparent;
    width: 0vw;
    height: 50vh;
    transition: 0.2s;
    transition-timing-function: ease-out;
    pointer-events: none;
    box-sizing: border-box;
}
input:checked ~ #sidenav
{
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 50vh;
    pointer-events: none;
}

#burger
{
    position: absolute;
    display: inline-block;
    background-color: var(--text-color-dark);
    width: 8vh;
    height: 1vh;
    left: 1vh;
    box-shadow: 0px 2vh var(--text-color-dark), 0px 4vh var(--text-color-dark);
    border-radius: 0.25vmin;
}

#nav-list-vertical
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#nav-list-vertical a
{
    font-size: 7vh;
    margin: 0%;
    padding: 0%;
    color: transparent;
    transition: 0.2s;
}
#nav-list-vertical li
{
    left: 12vh;
}
input:checked ~ #sidenav > #nav-list-vertical a
{
    color: var(--text-color-dark);
    transition: 0.2s;
}
input:checked ~ #sidenav > #nav-list-vertical li
{
    pointer-events: all;   
}
