#projects .image-footer
{
    font-size: 1.75vh;
    width: 80%;
    place-self: center;
    background: radial-gradient(transparent, rgba(128, 128, 128, 0.205));
    border: 1px solid;
    margin-bottom: 4vh;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    text-align: center;
}

#projects p
{
    font-size: 2vh;
    width: 95%;
    place-self: center;
    text-align: left;
    background: unset;
    background-color: transparent;
    border: unset;
    padding-bottom: 4vh;

}

#projects > #text-container
{
    margin-top: 5vmin;
    grid-auto-rows: max-content;
    grid-template-columns: 1fr;
    height: calc(100% - 8vmin);
    margin-bottom: 3vmin;
    overflow-y: hidden;

    #flow-visualizer-gif-container  { background-image: url('loopingFlowVisualizer.gif'); }
    #noise-gif-container            { background-image: url('loopingSimplexNoise.gif'); }
    #noise-time-container           { background-image: url('noiseOverTime.gif'); }
    #game-scene-container           { background-image: url('gameScene.gif'); }
    #ray-tracer-container           { background-image: url('rayTracerScreenshot.png'); }
}

#projects .end
{
    display: block;
    text-align: right;
    padding-top: 4vmin;
    padding-bottom: 0px;
}