.glossary-content {
	display: flex;
	flex-direction: column;
	height: 100%;
    width: 100%;
}

/* The Master Camera for the entire screen */
.master-scene {
  width: 100%;
  perspective: 2000px; 
  justify-content: center;
  align-items: center;
  overflow: hidden;
  touch-action: none; 
  flex: 1.2; /* Changed from 2 to push the cylinder closer to the vertical center */
  position: relative;
}

/* The horizontal rotating container */
.horizontal-carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The individual category panels */
.carousel-panel {
  position: absolute;
  width: 250px; 
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  height: 100%;
}

/* Positioned high above the cylinder radius to prevent overlap */
.panel-title {
  width: 100%;
  height: fit-content;
  text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  /* Just add a little breathing room below the title */
  /* margin-bottom: 20px;  */
  flex: 0.5;
  transform: translateZ(30px);
}

/* The inner vertical cylinder container */
.cylinder {
  width: 100%;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  margin-bottom: 20px;
}

/* The glossary terms */
.item {
    position: absolute;
    width: 100%;
    /* Use Flexbox for flawless vertical/horizontal centering inside borders */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
    backface-visibility: hidden;
    user-select: none;
    border: 3px solid var(--main-background);

    font-size: var(--dynamic-font-size);
    height: var(--item-height);
    top: 50%;
    left: 0;
    margin-top: calc(var(--item-height) / -2);
    box-sizing: border-box;
}

.panel-bottom{
    flex: 0.7;
    margin: 10px;
    /* background-color: var(--main-background); */
    background: radial-gradient(ellipse, rgba(0, 0, 0, 0.5), 75%, transparent);
    font-size: 6;
    
}

.description-text {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.description-text.faded {
    opacity: 0;
}